ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

li {
    display: inline;
    margin: 10px;
    color: white;
}

a {
    color: white
}